p {
  font-family: 'Roboto';
  @include respond-to(xs) {
    font: 400 16px / 1.4 Roboto;
  }
  @include respond-to(sm) {
    font: 400 16px / 1.4 Roboto;
  }
  @include respond-to(991) {
    font: 400 16px / 1.4 Roboto;
  }
}
.fl-right {
  text-align: right;
}

.btn-yellow {
    background-color: $color-btn-yellow;
    color: #5a5a5d;
    font: 700 14px / 1 'Roboto Bold';
    text-transform: uppercase;
    border-radius: 3px;
    padding: 17px 60.5px;
    @include respond-to(sm) {
      font-size: 13px;
    }
    @include respond-to(xs) {
      margin-left: 12px;
      font-size: 16px;
    }
}
.btn-small{
  padding: 17px 26.5px;
}
.form-control::placeholder{
  color: $color-nav-a;
}
.circle {
position: relative;
background-color: #ebebeb;
border-radius: 50%;
border: none;
width: 100px;
height: 100px;
&:hover {
    background-color: #ffcb08;
}
}
.padding-0 {
    padding: 0;
}
.popover {
  border: none;
  box-shadow: none;
  border-radius: 3px;
  max-width: 490px;
  padding: 30px;
  @include respond-to(xs){
    padding: 20px;
  }
  .popover-content {
    padding: 0;
  }
  &.top {
    margin-top: -40px;
    @include respond-to(xs){
      left: 25px !important;
      right: 25px;
    }
    > .arrow {
      border-top-color: #fff;
    }
  }
  input.form-control {
    width: 100%;
    background-color: $color-gray;
    font: 400 14px / 1 Roboto;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: none;
    @include respond-to(xs){
       font: 400 14px / 45px Roboto;
       height: 45px;
    }
  }
  .btn-yellow {
    float: right;
    padding: 17px 60.5px;
    margin-top: 10px;
  }
}
